body {
	margin: 0;
	background: url("../img/bglog.jpeg") no-repeat center center fixed;
	background-size: cover;
	font-family: 'Helvetica', 'Arial', sans-serif;
}

header {
	width: 100%;
	padding: 30px 30px;
	background: url("../img/bglog.jpeg") no-repeat center center fixed;
	display: block;
	z-index: 101;
	background-size: cover;
	position: fixed;
}

.title {
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-size: 2em;
	color: white;
}

.main {
	background: white;
	width: 70%;
	float: left;
	display: block;
	position: relative;
	padding-top: 5%;
}

#video {
	margin: 0 auto;
	display: block;
}

aside {
	right: 0;
	width: 30%;
	padding-top: 7%;
	height: 100%;
	z-index: 100;
	position: fixed;
	border-left: 1px solid black;
}

aside h3 {
	text-align: center;
	border-bottom: solid 2px black;
	margin: 10px 40px;
	padding-bottom: 10px;
	color: white;
}

footer {

}

#bg {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url("../img/bg.jpeg") no-repeat center center fixed;
	background-size: cover;
	-webkit-filter: blur(2px);
	z-index: -1;
}

#bglog {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	-webkit-filter: blur(2px);
	z-index: -1;
}

.show {
  display: block;
  margin-top: 5%;
  color: #fff;
  line-height: 2em;
}


#log {
  margin: 20% auto;
  width: 20%;
  padding: 20px 20px;
  background: rgba(173,216,230,.7);
  text-align: center;
  display: block;
}

#log a {
	color : white;
	padding: 0px 10px;
	text-align: center;
	margin: 0px auto;
	font-size: 1em;
}

#snap {
	width: 75px;
	margin: 0 auto;
	height: 75px;
	border-radius: 50%;
	border: 5px solid #cfdcec;
	overflow: hidden;
	background: #4679BD;
	box-shadow: 0 0 2px gray;
	display: block;
	color: white;
	line-height: 1em;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
}

#center {
  width: 20%;
  margin : 0 auto;
}


ul {
 list-style-type: none;
 list-style : none;
}

li {
	text-align: center;
}

td {
	text-align: center;
	padding-top: 10px;
}

.line {
	border: solid 1px yellow;
	padding-bottom: 15px;
}

input {
	margin-bottom: 2%;
	border-radius: 4px;
	border: 1px solid #ccc;
	font-size: 1em;
	box-sizing: border-box;
	padding: 2px 4px;
}

input[type=submit] {
	cursor: pointer;
	background: white;
	color: rgb(173,216,230);
	padding: 5px 5px;
}

h1 {
	color: white;
	font-family: "Helvetica", "Arial", sans-serif;
}

.error {
	width: 100%;
	background-color: #FF6961;
	margin: -7px 0px 0px 0px;
	text-align: center;
	padding: 3px;
}

.sent {
	width: 100%;
	background-color: #B4ECB4;
	margin: -7px 0px 0px 0px;
	text-align: center;
	padding: 3px;
